In [ ]:
# Converting Number Types

In [ ]:
# Converting Integers to Floats

In [1]:
a = 103
print (float(a))

103.0

In [ ]:
# Converting Floats to Integers

In [2]:
a = 103.5
print (int(a))

103

In [ ]:
# Numbers Converted Through Division

In [ ]:
# In Python 3, relevant quotients are converted from integers to floats when doing division

In [3]:
a = 5/2
print (a)

2.5

In [ ]:
# Converting Numbers to Strings

In [4]:
a = "Abe"
b = 50
print ("Congratulations," + a + "You just wrote" + b + "lines of code")

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Solution

In [5]:
a = "Abe"
b = 50
print ("Congratulations," + a + "You just wrote" + str(b) + "lines of code")

Congratulations,AbeYou just wrote50lines of code

In [ ]:
# converting float to string

In [8]:
a = 150.4
print (str(a))

150.4

In [ ]:
# Converting Strings to Integers

In [10]:
a = '108'
b = '52'
result = a - b
print (result)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Solution

In [11]:
a = '108'
b = '52'
result = int(a) - int(b)
print (result)

56

In [ ]:
# Strings to float

In [12]:
a = '108.3'
b = '52.4'
result = float(a) - float(b)
print (result)

55.9

In [ ]:
# Converting to Tuples and Lists

In [ ]:
#Converting a List to a Tuple

In [15]:
seacreatures = ["Fish", "Shrimps", "Prawns", "Squid", "Jellyfish"]
print (tuple(seacreatures))

('Fish', 'Shrimps', 'Prawns', 'Squid', 'Jellyfish')

In [ ]:
#Converting a Tuple to a List

In [16]:
sea_creatures = ("Fish", "Shrimps", "Prawns", "Squid", "Jellyfish")
print (list(sea_creatures))

['Fish', 'Shrimps', 'Prawns', 'Squid', 'Jellyfish']

In [ ]:
# convert strings to list

In [8]:
print (list('shark'))

['s', 'h', 'a', 'r', 'k']