In [ ]:
Introduction to List datatypes

In [1]:
students = ['naresh', 'priyanka','aman','jay','kiran']
print(students)

['naresh', 'priyanka', 'aman', 'jay', 'kiran']

In [2]:
type(students)

list

In [ ]:
How to access the elements form the list.

In [5]:
print (students[2])

aman

In [ ]:
Re-assigning the elements form the list

In [6]:
students[2] = 'mahesh'
print(students)

['naresh', 'priyanka', 'mahesh', 'jay', 'kiran']

In [ ]:
Adding the elements to the list: Rahul to List

In [8]:
students.append('rahul')
print(students)

['naresh', 'priyanka', 'mahesh', 'jay', 'kiran', 'Rahul', 'rahul']

In [ ]:
Req: Add neha to the 3 index position.

In [9]:
students.insert(3,'neha')
print(students)

['naresh', 'priyanka', 'mahesh', 'neha', 'jay', 'kiran', 'Rahul', 'rahul']

In [ ]:
Deleting elements from the list.

In [ ]:
Req: to delete mahesh

In [10]:
del students[2]
print(students)

['naresh', 'priyanka', 'neha', 'jay', 'kiran', 'Rahul', 'rahul']

In [11]:
x=students.pop()
print(students)

['naresh', 'priyanka', 'neha', 'jay', 'kiran', 'Rahul']

In [12]:
print(x)

rahul

In [14]:
y=students.pop(4)
print(students)

['naresh', 'priyanka', 'neha', 'jay']